@use 'helpers/index' as *;

body {
	font-size: rem(16);
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	font-family:
		var(--font-nunito),
		system-ui,
		-apple-system,
		sans-serif;
	line-height: 1.6;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	color: var(--text-primary);
	background: var(--bg-primary);
}

a {
	color: inherit;

	//@include hover {
	//    color: var(--color-accent);
	//}

	&[class] {
		text-decoration: none;
	}
}

//:focus-visible {
//    outline: rem(2) dashed var(--color-light);
//    outline-offset: rem(4);
//    transition-duration: 0s !important;
//}

a,
button {
	&[aria-label] {
		position: relative;
	}
}

svg.lucide {
	fill: none;
}
