@use 'normalize';
@use 'variables';
@use 'utils';
@use 'globals';
@use 'themes';

@use 'ui/button';
@use 'ui/scroll-area';
@use 'ui/toaster';
@use 'ui/popover';
@use 'ui/card';
@use 'ui/input';
@use 'ui/label';
@use 'ui/squares-bg';
@use 'ui/form';
@use 'ui/dialog';
@use 'ui/input-otp';
@use 'ui/separator';
@use 'ui/sidebar';
@use 'ui/sheet';
@use 'ui/tooltip';
@use 'ui/skeleton';
@use 'ui/avatar';
@use 'ui/dropdown';
@use 'ui/tabs';
@use 'ui/spinner';
@use 'ui/switch';

@use 'pages/home';
@use 'pages/auth-page';

@use 'components/prompt-box';
@use 'components/language-switch';
@use 'components/auth-form';
@use 'components/logo-loader';
@use 'components/menu';
@use 'components/settings-modal';
@use 'components/profile-form';