@use 'helpers/index' as *;

:root {
  --border-radius: 8px;
  --border-radius-lg: 12px;

  --transition-duration: 0.2s;
  --transition-duration-fastest: 0.1s;

  --container-padding-x: 16px;
  --container-width: #{rem(1280)};
  @include laptop {
    --container-width: #{rem(1000)};
  }
}