.separator-ui {
  background: var(--border-light);
  flex-shrink: 0;

  &[data-orientation="horizontal"] {
    height: 1px;
    width: 100%;
  }

  &[data-orientation="vertical"] {
    height: 100%;
    width: 1px;
  }
}