@keyframes skeleton-pulse {
  50% {
    opacity: 0.5;
  }
}

.skeleton {
  background-color: var(--bg-tertiary);
  border-radius: 0.375rem;
  animation: skeleton-pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}