.tabs-ui {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &__trigger {
        align-items: center;
        justify-content: center;
        gap: 0.375rem;
        border-radius: 0.375rem;
        border: 1px solid transparent;
        padding: 0.25rem 0.5rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 500;
        white-space: nowrap;
        color: var(--text-primary);
        background: transparent;
        transition-property: all;
        transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 200ms;

        &:hover {
            background: var(--ring);
            color: var(--color-light-text);
        }

        &:disabled {
            pointer-events: none;
            opacity: 0.5;
        }

        &:focus-visible {
            border-color: var(--ring);
            outline: 1px solid var(--ring);
            outline-offset:  0;
            box-shadow: 0 0 0 3px hsl(var(--ring) / 0.5);
        }

        &[data-state="active"] {
            background-color: var(--accent-primary);
            color: var(--color-light-text);
            border-color: transparent;
            box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
        }

        svg {
            pointer-events: none;
            flex-shrink: 0;

            &:not([class*='size-']) {
                width: 1rem;
                height: 1rem;
            }
        }
    }

    &__content {
        flex: 1 1 0;
        outline: none;
    }
}