@keyframes tooltip-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes tooltip-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes tooltip-zoom-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes tooltip-zoom-out {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.95);
  }
}

@keyframes tooltip-slide-from-top {
  from {
    transform: translateY(-2px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes tooltip-slide-from-bottom {
  from {
    transform: translateY(2px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes tooltip-slide-from-left {
  from {
    transform: translateX(-2px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes tooltip-slide-from-right {
  from {
    transform: translateX(2px);
  }
  to {
    transform: translateX(0);
  }
}

.tooltip-content {
  z-index: 50;
  width: fit-content;
  overflow: hidden;
  border-radius: 0.375rem;
  padding: 0.375rem 0.75rem;
  font-size: 0.75rem;
  color: var(--background);
  background-color: var(--foreground);
  text-wrap: balance;

  &[data-state="open"] {
    animation:
            tooltip-fade-in 150ms cubic-bezier(0.16, 1, 0.3, 1),
            tooltip-zoom-in 150ms cubic-bezier(0.16, 1, 0.3, 1);
  }

  &[data-state="closed"] {
    animation:
            tooltip-fade-out 100ms ease-in,
            tooltip-zoom-out 100ms ease-in;
  }

  &[data-side="top"] {
    animation-name:
            tooltip-fade-in,
            tooltip-zoom-in,
            tooltip-slide-from-bottom;
  }
  &[data-side="bottom"] {
    animation-name:
            tooltip-fade-in,
            tooltip-zoom-in,
            tooltip-slide-from-top;
  }
  &[data-side="left"] {
    animation-name:
            tooltip-fade-in,
            tooltip-zoom-in,
            tooltip-slide-from-right;
  }
  &[data-side="right"] {
    animation-name:
            tooltip-fade-in,
            tooltip-zoom-in,
            tooltip-slide-from-left;
  }
}