.auth-page {
    display: flex;
    min-height: 100svh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    background-color: var(--bg-secondary);

    &__container {
        width: 100%;
        max-width: 24rem;

        @media (min-width: 768px) {
            max-width: 56rem;
        }
    }
}