@use '../helpers/index' as *;

.prompt-box {
    &__form {
        display: flex;
        flex-direction: column;
        background: var(--bg-secondary);
        border: 1px solid var(--border-medium);
        box-shadow: 0 2px 4px 0 rgba(25, 33, 61, 0.08);
        border-radius: 16px;
        padding: 24px 24px 16px 24px;
    }

    &__hr {
        margin: 15px 0;
        border: none;
        height: 1px;
        background-color: var(--border-medium);
    }

    &__textarea {
        width: 100%;
        background-color: transparent;
        border: none;
        border-radius: 0.375rem;
        height: 70px;
        resize: none;

        &:focus {
            outline: none;
        }

        &:disabled {
            cursor: not-allowed;
        }
    }

    &__button {
        display: flex;
        align-items: center;
        border-radius: 8px;
        padding: 8px 16px;
        font-weight: 500;
        cursor: pointer;

        svg {
            margin-right: 5px;
        }
    }
}